<script>
import AppViewer from '@/components/AppViewer.vue' 
import { RouterLink } from 'vue-router'
export default {
  name: "Anamorphosis",
  components: {
    AppViewer
  },
  data() {
    return {
      firstWord: '',
      secondWord: '',
      modelReady: false,
    };
  },
  computed: {
    canBeSubmitted() {
      return (this.firstWord.length > 0) && (this.firstWord.length == this.secondWord.length)
    }
  },
  methods: {
    renderWords() {
      this.modelReady = false;
      this.$refs.appViewer.createScene();
    },
    modelLoaded(isFirstLoad) {
      if (!isFirstLoad) this.modelReady = true;
    },
    exportSTL() {
      this.$refs.appViewer.exportSTL();
    }
  },
};
</script>

<template>
   <div class="anamorphosis"> 
      <h4><RouterLink to="/">Text To Ana</RouterLink></h4>
      <div class="renderAndForm">
      
      <div class="inputs">
        <div class="label">
          <label for="fw">Premier mot</label>
          <input type="text" v-model="firstWord" placeholder="Hello" id="fw" />
        </div>
        <div class="label">
          <label for="sw">Second mot</label>
          <input type="text" v-model="secondWord" placeholder="World" id="sw" />
        </div>
        <button :disabled="!canBeSubmitted" type="button" class="btn-primary" @click="renderWords">Résultat</button>
        <!-- <p>Premier mot : {{ firstWord }}</p>
        <p>Deuxième mot : {{ secondWord }}</p> -->
    </div>
  <AppViewer class="render" :firstWord="firstWord" :secondWord="secondWord" ref="appViewer" @loaded="modelLoaded" />
  </div>
  <div class="export">
    <button :disabled="!modelReady" type="button" class="btn-bordered" @click="exportSTL">
      <div class="txt">
        <span>Exporter</span>
        <span>STL</span>
      </div>
      <img src="@/assets/download.png" alt="télécharger" />
    </button>
  </div>
 </div>
</template>

<style>
input {
  border: 1px solid #121212a6;
  border-radius: 4px;
  padding: 0.8em 0.6em;
  width: 15rem;
}

input:focus{
  outline: 1px solid rgba(0, 0, 0, 0.9);
}

a {
  text-decoration: none;
  border-bottom-style: hidden;
}

label {
  opacity: 90%;
  color: #000000;
}

h4 {
  position: absolute;
  top: 3rem;
  margin: 0.5rem;
}

.label {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  align-items: flex-end;
}

.render {
  width: 80vw;
  height: 35rem;
  background-color: rgba(255, 255, 255, 0.413);
  flex-grow: 1;
}

.renderAndForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  
  margin: 0 5rem;
}

.anamorphosis {
  display: flex;
  width: 100vw;
  flex-direction: column;
  margin: 2rem 0;
  gap: 3rem;
}

.export {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-bordered {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-bordered .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 800px) {
  input {
    border: 1px solid #121212a6;
    border-radius: 4px;
    padding: 0.8em 0.6em;
    width: 6.5rem;
  }

  h4 {
    position: absolute;
    top: 1rem;
    margin: 0.5rem;
  }

  .anamorphosis.view {
    padding:0;
  }

  .anamorphosis {
    margin: 0;
    gap: 1rem;
  }

  .renderAndForm{
    flex-direction: column-reverse;
    gap: 1rem;
    margin: 0;
  }

  .inputs {
    padding: 0.5rem;
    gap: 0;
  }

  .render {
    width: 100vw;
    height: 35rem;
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
  }
}
</style>
