<script lang="ts">
import Babylon from '@/components/Babylon.vue' 
import { RouterLink } from 'vue-router'
export default {
  name: "Home",
  components: {
    Babylon
  },
  data() {
    return {
      showAbout: false,
    };
  },
  methods: {
    toggleAbout() {
      this.showAbout = !this.showAbout;
    },
  },
};
</script>

<template>
  <div>
  <header>
    <h1>Text To Ana</h1>
    <h3>Vos mots prennent une nouvelle dimension</h3>
  </header>

  <main>
    <div class="leftPart">
      <div>
        <RouterLink to="/anamorphosis">Essayer TTA</RouterLink>
        <a @click="toggleAbout" :class="{highlighted: showAbout}">À propos</a>
      </div>
      <div v-if="showAbout" >
        <h5>Késako ?</h5>
        <p>
          Bien plus qu'une simple plateforme de conversion de texte en formes anamorphiques 3D – c'est une passerelle vers la créativité tridimensionnelle. Nous donnons vie à vos mots d'une manière unique et captivante. Que vous soyez un amateur d'art, un designer, ou simplement quelqu'un cherchant à ajouter une touche personnelle à vos espaces, Text To Ana vous offre la possibilité de transformer vos idées en sculptures textuelles prêtes à être imprimées en 3D.
        </p> 

        <p>
          Cette application a été réalisée dans le cadre d’un projet de fin d’étude d’étudiants en Master Informatique : Géométrie et Informatique Graphique.
        </p>
        
        <span><a href="https://gitlab.com/Astrid-Beyer/pfe-2024" target="_blank" class="git">Voir le Git</a> <img src="@/assets/ArrowUpRight.png" alt="lien externe"/></span>
      </div>
    </div>
    <Babylon :class="{displayed : showAbout}" />


  </main>
</div>
</template>

<style scoped>
header {
  margin-top: 5rem;
  line-height: 1.2;
  max-width: 1200px;
}

main {
  display: flex;
  justify-content: space-between;
}

p {
  margin-bottom : 2rem;
}

span {
  font-weight: 500;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  transition: 0.4s;
  margin-right: 1rem;
  color: #000000;
  border-bottom-style: solid;
  border-width: 1px;
  padding-bottom: 0.3rem;
}

.leftPart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.git {
  border-bottom-style: solid;
  border-color: #C8F000;
  margin: 0;
  border-width: 5px;
  padding-bottom: 0;
  line-height: 12px;
}
.highlighted {
  /* border-color: #C8F000; */
  position: relative;
  z-index: 1;

}
.highlighted::before {
  position: absolute;
  transform: translateY(200%);
  background-color: #C8F000;
  content: '';
  width: 100%;
  height: 20%;
  left: 0;
  top: 0;
  z-index: -1;
}


@media (max-width: 800px) {


  p {
    margin-bottom : 1.5rem;
    line-height: 1.4rem;
  }

  .displayed {
    display: none;
  }
  
}

</style>