<template>
  <canvas ref="canvas" width="1080" height="720" />
</template>

<script>
  import * as BABYLON from "@babylonjs/core";
  import * as Serializers from "@babylonjs/serializers";

  const letterSize = 40;
  const boxSize    = 6;
  const offset     = 0.5;
  const scale      = 0.1;
  
  const methods = { 
    Vector2: BABYLON.Vector2, 
    Vector3: BABYLON.Vector3, 
    Path2: BABYLON.Path2,
    Curve3: BABYLON.Curve3,
    SolidParticleSystem: BABYLON.SolidParticleSystem,
    PolygonMeshBuilder: BABYLON.PolygonMeshBuilder,
    CSG: BABYLON.CSG,
    StandardMaterial: BABYLON.StandardMaterial,
    Mesh: BABYLON.Mesh,
    Color3: BABYLON.Color3
  }

  export default {
    name: "AppViewer",
    async mounted() {
      await this.createScene();
    },
    props: {
      firstWord: {
        type: String,
        default: ""
      },
      secondWord: {
        type: String,
        default: ""
      },
    },
    data() {
      return {
        engine: null,
        scene: null,
        camera: null,
        sourceMat: null,
        Writer: null,
      };
    },
    emits: [
      "loaded"
    ],
    methods: {
      /**  
       * @public
       **/ 
      async createScene() {

        const canvas = this.$refs.canvas;
        if (!canvas) return;

        this.engine = new BABYLON.Engine(canvas);
        this.scene = new BABYLON.Scene(this.engine);

        this.camera = new BABYLON.ArcRotateCamera("Camera", -Math.PI / 2, Math.PI / 2, 2, BABYLON.Vector3.Zero(), this.scene);
        this.camera.attachControl(canvas, true);

        const light = new BABYLON.HemisphericLight(
          "light",
          new BABYLON.Vector3(0, 10, 0),
          this.scene
        );

        light.intensity = .5;
      
        this.sourceMat  = new BABYLON.StandardMaterial("sourceMat", this.scene);
        this.Writer = window.MeshWriter(this.scene, { scale, defaultFont:"RubikMonoOne-Regular", methods });

        // possible fonts : arial (by default), comic, jura
        this.write_words(this.firstWord.toUpperCase(), this.secondWord.toUpperCase(), "RubikMonoOne-Regular");

        const loader = new BABYLON.AssetsManager(this.scene);
  
        loader.onFinish = () => {
          this.engine.runRenderLoop(this.renderLoop);
          this.$emit("loaded", this.firstWord == "" && this.secondWord == "");
        };
  
        loader.load();
      },
      renderLoop() {
        this.scene.render();
      },
      /**  
       * @public
       **/ 
      exportSTL() {
        Serializers.STLExport.CreateSTL(this.scene.meshes, true , `ana-${this.firstWord}-${this.secondWord}`, false, false);
      },
      write_words(word1, word2, font) {
        for (let i = 0; i < word1.length; i++){
          this.write_letters(word1[i], word2[i], i, font)
        }
      },
      write_letters(letterA, letterB, i, font) {
        // Support
        const box = BABYLON.MeshBuilder.CreateBox("Box_"+toString(i), {depth:boxSize, width:boxSize}, this.scene, true);
        box.position.x = 4*i+2;
        box.position.z = 4*i+2;
        box.position.y = -0.5;

        //letter A
        const A  = new this.Writer( 
          letterA,
          {
            "anchor": "center",
            "letter-height": letterSize,
            "color": "#1C3870",
            "font-family": font,
            "letter-thickness": letterSize
          }
        );

        const AMesh = A.getMesh();
        AMesh.material = this.sourceMat;
        AMesh.setPivotPoint(new BABYLON.Vector3(0, -2, 0));
        AMesh.rotation.x = -Math.PI/2;
        AMesh.position.x = 4*i;

        //letter B
        const B  = new this.Writer( 
          letterB,
          {
            "anchor": "center",
            "letter-height": letterSize,
            "color": "#1C3870",
            "font-family":font,
            "letter-thickness": letterSize
          }
        );

        const BMesh = B.getMesh();
        BMesh.material = this.sourceMat;
        BMesh.setPivotPoint(new BABYLON.Vector3(2,-2,0));
        BMesh.rotation.x = -Math.PI/2;
        BMesh.rotation.y = -Math.PI/2;
        BMesh.position.x = 4*i;
            
        // Intersection
        const ACSG = BABYLON.CSG.FromMesh(AMesh);
        const BCSG = BABYLON.CSG.FromMesh(BMesh);
        const intersection = ACSG.intersect(BCSG);
        const newMesh = intersection.toMesh("csg3", this.sourceMat, this.scene);
        newMesh.position.x = 4*i + offset;
        newMesh.position.z = 4*i + offset;

        AMesh.dispose();
        BMesh.dispose();
      },
    },
  };
</script>
