<template>
  <canvas ref="canvas" width="800" height="500" />
</template>
  
<script>
  import * as Babylon from "@babylonjs/core";
  import * as Materials from "@babylonjs/materials";
  import "@babylonjs/loaders";
  import helloWorld from "@/assets/helloWorld.glb";
  
  export default {
    name: "Babylon",
    async mounted() {
      const canvas = this.$refs.canvas;
      if (canvas) {
        await this.createScene(canvas);
      }
    },
    data() {
      return {
        engine: null,
        scene: null,
        camera: null,
      };
    },
    methods: {
      async createScene(canvas) {
        this.engine = new Babylon.Engine(canvas);
        this.scene = new Babylon.Scene(this.engine);
  
        // Use a FreeCamera instead of ArcRotateCamera for orthographic projection
        this.camera = new Babylon.FreeCamera(
          "camera",
          new Babylon.Vector3(-15, 0, 3),
          this.scene
        );
  
        // Set the camera mode to orthographic
        this.camera.mode = Babylon.Camera.ORTHOGRAPHIC_CAMERA;
  
        // Set orthographic scaling (you may need to adjust these values)
        this.camera.orthoTop = 2;
        this.camera.orthoBottom = -2;
        this.camera.orthoLeft = -3;
        this.camera.orthoRight = 3;
  
        // Set the target to the center of the scene
        this.camera.setTarget(Babylon.Vector3.Zero());
  
        // this.camera.attachControl(canvas, true);
  
        const light = new Babylon.HemisphericLight(
          "light",
          new Babylon.Vector3(0, 1, 0),
          this.scene
        );

        light.intensity = 5;
  
        // Set the clear color to transparent
        this.scene.clearColor = new Babylon.Color4(0, 0, 0, 0);
  
        const loader = new Babylon.AssetsManager(this.scene);
        const meshTask = loader.addMeshTask("objTask", "", helloWorld, "");
  
        meshTask.onSuccess = (task) => {
          task.loadedMeshes.forEach((mesh) => {
            // You may want to position/scale/rotate your loaded mesh here if needed
            mesh.scaling = new Babylon.Vector3(1, 1, 1);

            var gradientMaterial = new Materials.GradientMaterial("grad", this.scene);
            gradientMaterial.topColor = new Babylon.Color3(0.373,0.357,0.91);
            gradientMaterial.bottomColor = new Babylon.Color3(0.608,0.357,0.749);
            gradientMaterial.offset = 0.6;
            gradientMaterial.smoothness = 6;
            mesh.material = gradientMaterial;
          });
        };
  
        loader.onFinish = () => {
          this.engine.runRenderLoop(this.renderLoop);
        };
  
        loader.load();
      },
      renderLoop() {
        this.scene.render();
      },
    },
  };
</script>
  
<style scoped>
  
</style>
  