@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-code-pro');

#app {
  font-weight: normal;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("@/assets/sld4-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
}

.view {
  margin: 0 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  
  flex: 1;
}

h1 {
  font-size: 120px;
  font-weight: 500;
}

h3 {
  font-size: 64px;
  font-weight: 400;
  line-height: 5rem;
}

h4 {
  font-size: 40px;
  font-weight: 700;
}

h5 {
  opacity: 40%;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-family: 'Source Code Pro Medium', sans-serif;
}

a,
.green {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1);*/
  transition: 0.4s;
  margin-right: 1rem;
  color: #000000;
  font-weight: 600;
  border-bottom-style: solid;
  border-width: 1px;
  padding-bottom: 0.3rem;
  font-family: "Inter", sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  font-weight: 450;
  font-size: 13px;
  
  padding: 0.5rem;
}

button span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.btn-primary {
  padding: 0.7rem 2rem;
  border-style: hidden;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #000000;
  background-color: #D5FF40;
  cursor: pointer;
}

.btn-primary:disabled {
  border: 1px solid #00000050;
  background-color: #d6ff4080;
  color: #666666;
  cursor: default;
}

.btn-bordered {
  padding: 0.7rem 2rem;
  border-style: hidden;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #000000;
  background-color: #ffffff00;
  cursor: pointer;
}

.btn-bordered:disabled {
  border: 1px solid #00000050;
  background-color: #ffffff00;
  color: #666666;
  cursor: default;
}

@media (max-width: 800px) {  
  main {
    flex-direction: column;
    gap: 4rem;
  }

  h1 {
    font-size: 64px;
    font-weight: 700;
  }

  h3 {
    font-size: 32px;
    margin-top: 1rem;
    font-weight: 600;
    line-height: 2.5rem;
  }

  h4 {
    font-size: 32px;
    font-weight: 700;
    position: absolute;
  }

  .view {
    margin: 0;
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: calc(100vh - 2rem);
  }
}

@media (hover: hover) {
  a:hover {
    cursor: pointer;
    /* background-color: hsla(160, 100%, 37%, 0.2); */
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
  }
}
